@model IEnumerable<Consoller.Areas.Auth.Models.online>
@using Consoller.Areas.Auth.Models
@{
    ViewBag.Title = "Application";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
    int sno = 0;
    dbcontext db = new dbcontext();
}


<div class="card">
    <div class="card-body">

        <div class="col-md-12 padding-l-0">
            <h3>
              All Applications
                </h3>
            <hr />
            <table id="example" class="table table-bordered dt-responsive nowrap no" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>
                            SNo.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>

                        <th>
                            From
                        </th>
                        <th>
                            Leads
                        </th>
                        <th>
                            Consoller
                        </th>
                        <th>
                            Status
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => item.Oid)
                            @{ sno++; }
                            @sno
                        </td>
                        <td>
                            @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td style="text-align:center">
                            @if (item.Country == "Canada" || item.Country == "CANADA")
                            {
                                <img src="~/image/canada.png" />
                            }
                        </td>
                        <td>
                            @if (item.teacher != null)
                            {

                            @db.tblreceptionists.FirstOrDefault(x => x.rid == item.teacher).name
                            }
                            else
                            {
                                <span class="text-danger">Not Assign</span>
                            }
                        </td>
                        <td>
                            @if (item.Sign == "Confirm")
                            {
                                <span class="badge badge-pill badge-soft-success font-size-11">Confirm</span>
                            }
                            @if (item.Sign == "Cancel")
                            {
                                <span class="badge badge-pill badge-soft-danger font-size-11">Cancel</span>
                            }
                            @if (item.Sign == "Action Required")
                            {
                                <span class="badge badge-pill badge-soft-warning font-size-11">No Handle</span>
                            }
                            @if (item.Sign == "Discussion")
                            {
                                <span class="badge badge-pill badge-soft-primary font-size-11">Discuss</span>
                            }
                        </td>
                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.Oid }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Oid }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Oid }) |


                        </td>
                    </tr>
                }

            </table>

        </div>




    </div>

</div>


@section scriptjs{
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}