@model  IEnumerable<Consoller.Areas.Auth.Models.Process>
@using Consoller.Areas.Auth.Models
@{
                /**/

                ViewBag.Title = "Medical Pending";
                Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
                dbcontext db = new dbcontext();
                var a = 0;
}

<h2>Pending Medical</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">Applicant Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Intake</th>

                            <th scope="col">Consoller</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            Application app = db.Applications.FirstOrDefault(x => x.ApplicationNo == item.ApplicationNo);
                            online on = db.onlines.FirstOrDefault(x => x.inquiryid == app.InquiryId);
                            <tr>
                                <td>
                                    @{

                                        a = a + 1;
                                    }
                                    @a
                                </td>
                                <td>
                                    <h5 class="text-truncate font-size-14"><a href="@Url.Action("Profile","Default",new { id=item.ApplicationNo})" class="text-primary">@on.Name</a></h5>
                                    <p class="text-muted mb-0">@on.Mobile</p>
                                </td>
                                <td>@on.City</td>
                                <td>
                                    @if (app.Month != 0)
                                    {
                                        @db.Months.Find(app.Month).Name <span>-</span>
                                        @db.Years.Find(app.Year).Name
                                    }

                                </td>

                                <td>
                                    <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">@db.tblreceptionists.FirstOrDefault(x => x.rid == app.DealBy).name</a></h5>

                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Profile","Default",new { id=item.ApplicationNo})">Details</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $.fn.dataTable.moment('DD/MM/YY');

        $('.nowrap').DataTable({
            "order": [[0, "desc"]]
        });
    });
</script>
