@model IEnumerable<Consoller.Areas.Auth.Models.tblstudentdata>
@using Consoller.Areas.Auth.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    dbcontext db = new dbcontext();

}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped table-hover table-fw-widget" id="table3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rollno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fathername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                Franchisee
            </th>


            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rollno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fathername)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @{
                        tblreceptionist rr = db.tblreceptionists.FirstOrDefault(x => x.rid == item.uid);
                    }
                    @if (rr != null)
                    {
                        @rr.name
                    }
                </td>


                <td></td>
            </tr>
                        }

</table>

@using (Html.BeginForm("Index", "TotalStudent", FormMethod.Post))
{
    <div class="col-md-12" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-md-3">
                <label>From Date</label>
                <input id="fromdate" type="date" name="fromdate" class="form-control" placeholder="Select Date" />
            </div>
            <div class="col-md-3">
                <label>To Date</label>
                <input id="todate" type="date" name="todate" class="form-control" placeholder="Select Date" />
            </div>
            <div class="col-md-3">
                <input id="submit" type="submit" value="submit" class="btn btn-primary" style="margin-top:35px" />
            </div>
        </div>


    </div>
}
@if (Model != null)
{ <div class="col-md-12" style="padding-bottom:20px;">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Roll No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                           Father Name
                        </th>
                        <th>
                            Franchisee
                        </th>

                       
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.rollno
                        </td>
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.fathername
                        </td>
                        <td>
                           @{ 
                               tblreceptionist rr = db.tblreceptionists.FirstOrDefault(x => x.rid == item.uid);
                           }
                            @rr.name
                        </td>
                        
                    </tr>
                }

            </table>
        </div>
    </div>
}
