@model Consoller.Areas.Auth.Models.online
@using Consoller.Areas.Auth.Models
@{
    ViewBag.Title = "LogHistory";
    Layout = "~/Areas/Auth/Views/Shared/Teacher.cshtml";
    dbcontext db = new dbcontext();
    IEnumerable<Logs> logs = db.Logs.Where(x => x.inquiryid == Model.inquiryid);
    Logs log = new Logs();

}

<div class="container-mail">



    <!-- Start Mailbox -->
    <div class="mailbox clearfix">

        <!-- Start Mailbox Menu -->
        <!-- End Mailbox Menu -->
        <!-- Start Mailbox Container -->
        <div class="container-mailbox">


            <div class="chat col-lg-12 col-md-8 padding-0">

                <!-- Start Title -->
                <div class="title">
                    <h1>@Model.Name <small>Purpose: ( @Model.VisaType )</small></h1>
                    <p><b>Quaification</b> @Model.Qualification</p>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-share"></i></button>
                        <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-star-o"></i></button>
                        <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                <!-- End Title -->
                <!-- Start Conv -->
                <ul class="conv">

                    @if (Model != null)
                    {
                        foreach (var item in logs)
                        {
                            <li class="date">Last Message:@item.Date <b></b> ago</li>
                                <li>
                                    <img src="img/profileimg3.png" alt="img" class="img">
                                    <p class="ballon color1">@item.Description</p><br>
                                    <small class="label label-info">@item.Status</small> / @db.tblreceptionists.FirstOrDefault(x=>x.rid==item.teacher).name

                                </li>
                        }

                    }

                    @*<li>

                        </li>
                        <li>
                            <img src="img/profileimg.png" alt="img" class="img">
                            <p class="ballon color2">I'm working on it</p><br>
                        </li>
                        <li>

                        </li>


                        <li>
                            <img src="img/profileimg.png" alt="img" class="img">
                            <p class="ballon color2">Done, Uploading one sec.</p><br>
                            <p class="ballon color2">Here ༼ つ ◕_◕ ༽つ</p><br>
                            <p class="addition"><i class="fa fa-file-o"></i><b>New-Index.psd</b> - 36 MB - <a href="#">Download</a></p>
                        </li>
                        <li>

                        </li>
                        <li>
                            <img src="img/profileimg3.png" alt="img" class="img">
                            <p class="ballon color1">Thanks, it works perfectly</p><br>
                            <p class="ballon color1">...</p><br>
                        </li>*@
                    <li>

                    </li>
                </ul>
                <!-- End Conv -->

                <div class="write">
                    <div class="panel-body">

                        <div class="col-md-12 padding-l-0">
                            @using (Html.BeginForm("InsertLogs", "Consoller"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.inquiryid)
                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group1 col-md-12">

                                        @Html.LabelFor(model => log.Description, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => log.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => log.Description, "", new { @class = "text-danger" })



                                    </div>
                                    <div class="form-group1 col-md-4">
                                        <label>Status</label>
                                        @Html.DropDownListFor(model => log.Status,
                                new SelectList(Enum.GetValues(typeof(Consoller.Areas.Auth.Models.ConsollerStatus))),
                                "Select Status",
                                new { @class = "form-control" })
                                        </div>

                                        <div class="form-group1" style="padding-top:20px">
                                            <div class="col-md-10">
                                                <input type="submit" value="Create" class="btn btn-danger" />
                                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })

                                            </div>
                                        </div>
                                    </div>
                            }
                        </div>




                    </div>
                </div>


            </div>
            <!-- End Chat -->

        </div>
        <!-- End Mailbox Container -->

    </div>
    <!-- End Mailbox -->


</div>

