@model Consoller.Areas.Auth.Models.College
@using Consoller.Areas.Auth.Models
@{
    ViewBag.Title = "CollegeDetails";
    Layout = "~/Views/Shared/main.cshtml";
    dbcontext db = new dbcontext();
    IEnumerable<CollegeCourse> course = db.CollegeCourses.Where(x => x.Oid == Model.Oid).ToList();
}

<div class="row">
    <div class="col-xl-4">
        <div class="card overflow-hidden">
            <div class="bg-soft-primary">
                <div class="row">
                    <div class="col-7">
                        <div class="text-primary p-3">
                            <h5 class="text-primary">@Model.Name</h5>
                            <p>@Model.Address</p>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="~/Uploadfile/@Model.Logo" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="avatar-md profile-user-wid mb-4">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                        </div>
                        <h5 class="font-size-15 text-truncate">Cynthia Price</h5>
                        <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>
                    </div>

                    <div class="col-sm-8">
                        <div class="pt-4">

                            <div class="row">
                                <div class="col-6">
                                    <h5 class="font-size-15">@Model.DLI</h5>
                                    <p class="text-muted mb-0">DLI</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="font-size-15">@Model.Type</h5>
                                    <p class="text-muted mb-0">Type</p>
                                </div>
                            </div>
                            <div class="mt-4">
                                <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->

       
    </div>

    <div class="col-xl-8">



        @foreach (var item2 in course)
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="@Url.Action("ProgramDetails","SearchProgram",new { id=item2.CCid})" target="_blank">@item2.Name</a> </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Tuition Fee</label>
                            <p>$@item2.TuitionFee</p>
                        </div>
                        <div class="col-md-3">
                            <label>Application</label>
                            <p>$@item2.ApplicationFee</p>
                        </div>
                    </div>
                </div>
            </div>
        }


        
    </div>

</div>
