@model IEnumerable<Consoller.Areas.Auth.Models.online>

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/main.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4>Confirm Application</h4>
        <hr />
        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>

                    
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Sign)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>

                    <td>
                        @if (item.Country == "Canada" || item.Country == "CANADA")
                        {
                            <img src="~/image/canada.png" width="20" />
                        }
                        @item.VisaType
                    </td>

                    <td>
                        @if (item.Sign == "Confirm")
                        {
                            <span class="badge badge-pill badge-soft-success font-size-12">@Html.DisplayFor(modelItem => item.Sign)</span>
                        }
                        else if (item.Sign == "Cancel")
                        {
                            <span class="badge badge-pill badge-soft-danger font-size-12">@Html.DisplayFor(modelItem => item.Sign)</span>
                        }
                        else if (item.Sign == "Discussion")
                        {
                            <span class="badge badge-pill badge-soft-primary font-size-12">@Html.DisplayFor(modelItem => item.Sign)</span>
                        }

                    </td>
                    <td>
                        <a href="javascript:void(0);" onclick="AddBook(@item.inquiryid)" class="btn btn-success btn-sm">Profile</a>

                        @Html.ActionLink("Logs", "NoLog", "Consoller", new { id = item.inquiryid}, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="modal fade colored-header colored-header-primary" id="form-bp1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored">
                <h3 class="modal-title">Inquiry Details</h3>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary md-close" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>

<script>


        var AddBook = function (Member) {
            debugger;
            var url = "/Consoller/IDetails?id=" + Member;
            // var url = "/Model/EmployeePartial";
            $("#myModalBodyDiv1").load(url, function () {

                $("#form-bp1").modal("show");

            })

        }
</script>
