@model IEnumerable<Consoller.Areas.Auth.Models.Fees_Master>
@using Consoller.Areas.Auth.Models
@using onlineportal.Areas.AdminPanel.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Auth/Views/Shared/Layout.cshtml";
    dbcontext db = new dbcontext();
    Helper help = new Helper();
    string a = User.IsInRole("Franchisee") ? help.Franchisee() : help.Receptionist();
}

<h2><b>Fees Report</b></h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="card">
    <div class="card-body">
        <div class="panel panel-default">

            <div class="panel-title">Fee Report</div>

            <div class="panel-body">

                <div class="col-md-12 padding-l-0">
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RollNo)
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Teacher Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalFees)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaidFees)
                                    </th>
                                    <th>
                                        Balance
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AlertDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.discount)
                                    </th>
                                    @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RollNo)
                                    </td>
                                    <td>
                                        @{
                                            tblstudentdata stu = db.tblstudentdata.FirstOrDefault(x => x.rollno == item.RollNo && x.uid == a && x.Status == true);
                                        }
                                        @stu.name
                                    </td>
                                    <td>
                                        @{
                                            tblreceptionist teach = db.tblreceptionists.FirstOrDefault(x => x.Id == stu.UserId && x.franchid == stu.uid);
                                        }
                                        @teach.name
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalFees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaidFees)
                                    </td>
                                    <td>
                                        @{
                                            var bal = (Convert.ToInt32(item.TotalFees) - (Convert.ToInt32(item.PaidFees) + Convert.ToInt32(item.discount)));
                                        }
                                        @bal
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(@item.AlertDate).ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(@item.Date).ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.discount)
                                    </td>
                                    @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
                                    <td>
                                        @Html.ActionLink("Pay Now", "Edit", new { id = item.RollNo }, new { @class = "label label-primary" }) |
                                        @Html.ActionLink("Alert SMS", "SMS", new { id = item.RollNo }, new { @class = "label label-danger" }) |
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>




            </div>

        </div>

</div>
</div>