@model Consoller.Areas.Auth.Models.Concession

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Auth/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Concession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InquiryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InquiryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
