@model IEnumerable<Consoller.Areas.Auth.Models.GIC>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        
        <td>
            <a href="@Url.Action("Edit","Gics",new {id=item.Gid })" class="badge badge-primary">Update</a> |
            <a href="@Url.Action("Delete","Gics",new {id=item.Gid })" class="badge badge-danger">Delete</a> |
            @Html.ActionLink("Preview", "Details", "Gics", new { id = item.Gid }, new { @class = " badge badge-warning" }) 

        </td>
    </tr>
}

</table>
